/**
 * Artisan Theme
 *
 * @author Barrel Strength Design
 * @version 0.3.0
 */
pre {
    word-wrap: break-word;
    padding: 8px;
    margin-bottom: 24px;
}

code {
    margin: 0px 2px;
    padding: 3px 5px 1px;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

pre, code {
    background: #f8f8f8;
    color: #2a2a2a;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

pre .comment {
    color: #b7b7b3;
}

pre .support {
    color: #0e4d87;
}

pre .tag {
    color: #051a2d;
}

pre .tag-name {
    color: #ae1e07;
}

pre .operator {
    color: #1c92ff;
}

pre .constant, 
pre .constant.numeric, 
pre .keyword.unit, 
pre .hex-color {
    color: #293ae1;
}

pre .attribute, 
pre .function, 
pre .filter {
    color: #1c92ff;
}

pre .string, 
pre .support.value  {
    color: #fd971f;
}

pre .parameter {
    color: #268f2f;
}

/*

pre .variable {
    
}

pre .keyword, 
pre .constant,
pre .css-property, 
pre .vendor-prefix, 
pre .sass, 
pre .class, 
pre .id, 
pre .css-value, 
pre .entity.function, 
pre .storage.function {
    font-weight: bold;
}

pre .css-property, 
pre .css-value, 
pre .vendor-prefix, 
pre .support.namespace {
    color: #333;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, 
pre .entity.function {
    color: #900;
}

pre .regexp {
    color: #009926;
}*/